<div class="container">

  <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Login</h2>
      </div>
  </div>


  <%= form_for :login do |f| %>

  <div class="row">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <%= f.label :username %>
            <%= f.text_field :username, placeholder: "Username", aria_invalid: false%>
            <p class="help-block text-danger"></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: "Password"%>
            <p class="help-block text-danger"></p>
        </div>
    </div>
</div>

<div class="row">
    <div>
      <%= f.submit :login, value: "Login", class: "btn btn-success btn-lg" %>
    </div>
</div>


  </div>

<% end %>
