<%= form_for(@login) do |f| %>

<% if @login.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@login.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @login.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class='form-group col-xs-12 floating-label-form-group controls'>
<%= f.label :first_name %>
<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
<p class="help-block text-danger"></p>
</div>

<div class='form-group col-xs-12 floating-label-form-group controls'>
<%= f.label :last_name %>
<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
<p class="help-block text-danger"></p>
</div>

<div class='form-group col-xs-12 floating-label-form-group controls'>
<%= f.label :username %>
<%= f.text_field :username, class: "form-control", placeholder: "Username" %>
<p class="help-block text-danger"></p>
</div>

<div class='form-group col-xs-12 floating-label-form-group controls'>
<%= f.label :password %>
<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
<p class="help-block text-danger"></p>
</div>

<div class='form-group col-xs-12 controls'>
<p class="help-block text-danger"></p>
<%= f.label :login_type %>
<%= f.select :login_type, [['Author',1],['User',2]]%>
<p class="help-block text-danger"></p>
</div>

<div class="form-group col-xs-12">
  <%= f.submit "Submit", class: "btn btn-success btn-lg" %>
</div>


<% end %>
