<h2 class="text-center">Users List</h2>
<div class="col-lg-8 col-lg-offset-2">
<table name="loginTable" id="loginTable">
  <thead>
    <tr>
      <th class="col-sm-3">First Name</th>
      <th class="col-sm-3">Last Name</th>
      <th class="col-sm-3">Username</th>
      <th class="col-sm-2">Type</th>
      <th class="col-sm-2">Follow</th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>

    <tr calss="row">
      <td class="col-sm-4"><%= login.first_name %></td>
      <td class="col-sm-4"><%= login.last_name %></td>
      <td class="col-sm-4"><%= link_to login.username, login %></td>
      <td class="col-sm-2"><%= LOGIN_TYPES[login.login_type] %></td>
      <td class="col-sm-2">
        <% if @current_user.inverse_followers.include?(login) %>
          <%= "Follwoing" %>
        <% elsif @current_user != login %>
          <%= link_to 'Follow', create_follow_path(login), method: :post %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
<div class="col-md-10">
<p class="help-block text-danger"></p>
<%= link_to 'Create New User', new_login_path if LOGIN_TYPES[@current_user.login_type] == 'Admin'%>
</div>
</div>

</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#loginsTable').DataTable();
});
</script>
