<h1>Users List</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Login type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>

    <tr calss="row">
      <td><%= login.first_name %></td>
      <td><%= login.last_name %></td>
      <td><%= login.username %></td>
      <td><%= LOGIN_TYPES[login.login_type] %></td>
      <td><%= link_to 'Show', login %></td>
      <td><%= link_to 'Edit', edit_login_path(login) %></td>
      <td>
        <% if @current_user.inverse_followers.include?(login) %>
          <%= "Follwoing" %>
        <% else %>
          <%= link_to 'Follow', create_follow_path(login), method: :post %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_login_path if LOGIN_TYPES[@current_user.login_type] == 'Admin'%>
