<%= form_for(@post) do |f| %>


<p class="help-block text-danger"></p>


  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group col-xs-12 floating-label-form-group controls'>
    <p class="help-block text-danger"></p>
    <%= f.label :new_post %><br />
    <%= f.text_field :post, placeholder: "What's on your mind?" %>
    <p class="help-block text-danger"></p>
  </div>
  <div class="form-group col-xs-12">
    <p class="help-block text-danger"></p>
    <%= f.submit "Submit", class: "btn btn-success btn-lg" %>
    <p class="help-block text-danger"></p>
  </div>
<% end %>
